<nav class="navbar">
    <a href="/profile">Home</a>
    
    <a href="/alltransaction"> All Transaction </a>
    <a href="/logout">Logout</a>




    {{!-- {{#if isLoggedIn}}
    <a href="/logout">
        <span class="logout">Logout</span>
    </a>
    {{else}}
    <a href="/login">
        <span class="login">Login</span>
    </a>
    {{/if}} --}}
</nav>