<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    /* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* General heading styles */
h1 {
    margin: 50px;
}

/* Styling for links */
a {
    text-decoration: none;
    color: #007bff;
   
}

.d{
    margin-bottom: 50px;
}

a:hover {
    text-decoration: underline;
}

/* Center content */
.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Optional: Styles for links within headings */
h2 a,  {
    color: #000;
}

h2 a:hover {
    text-decoration: underline;
}
h2{
    margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  background-color: #0056b3;
}


</style>
<body>
    <h1>Welcome to Money management app</h1>
    <br>
    <br>
    <h2>Already user?</h2><a class="d btn" href="/login">Login</a> <br><br>
    <h2>New user?</h2><a class="d btn" href="/signup">Signup</a> <br><br>

</body>
</html>